$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$min-mobile-width: 320px;
$max-desktop-width: 1920px;

$text-regular: 400;
$text-demi: 500;
$text-bold: 600;

$mobile-header-fontsize: 1.5rem;
$mobile-header-lineheight: 2rem;

$mobile-title-fontsize: 0.75rem;
$mobile-title-lineheight: 1.25rem;

$mobile-body-fontsize: 0.8125rem;
$mobile-body-lineheight: 1.125rem;

$mobile-btn-fontsize: 0.625rem;
$mobile-btn-lineheight: 1.25rem;

$header-fontsize: 2.0625rem;
$header-lineheight: 2.75rem;

$title-fontsize: 0.75rem;
$title-lineheight: 1.25rem;

$body-fontsize: 0.875rem;
$body-lineheight: 1.375rem;

$btn-fontsize: 0.75rem;
$btn-lineheight: 1.25rem;

$primary-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;
$primary-blue: #0095ff;

$secondary-darkblack: #000000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;
$secondary-darkblue: #0065ad;
