@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.header {
  padding: 1rem;
  @include tablet-and-desktop {
    padding: 0;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    @include tablet-and-desktop {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.8rem;
      margin: 0;
    }
    @include desktop {
      padding: 1.3rem 7rem;
    }
  }

  &__logo-wrap {
    text-align: center;
    margin: 0.8rem 0;
  }

  &__logo {
    max-height: 1.5625rem;
    max-width: 7.5rem;
    text-align: center;
    @include tablet-and-desktop {
      margin-left: 1.5rem;
    }
  }

  &__search-bar {
    display: flex;
    margin: 1rem 0;

    @include tablet-and-desktop {
      display: block;
      margin: 0 1.5rem 0 5rem;
    }
    @include desktop {
      margin-left: 23rem;
    }
  }

  &__input {
    height: 2.5rem;
    position: relative;
    display: inline-block;
    padding: 0.75rem 2.3rem;
    border-radius: 0.25rem;
    background-color: $secondary-alabaster;
    border: 1px solid $secondary-mercury;
    background-image: url("../../assets/images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 1rem;
    @include tablet-and-desktop {
      @include tabdesk-body;
      width: 14rem;
      margin-left: 2rem;
    }
    @include desktop {
      width: 20rem;
    }
  }

  &__avatar-wrap {
    margin-left: 1.3rem;
    @include tablet-and-desktop {
      position: absolute;
      right: 7%;
      top: 2.8%;
    }
    @include desktop {
      right: 5%;
      top: 3.5%;
    }
  }

  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    @include tablet-and-desktop {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__btn {
    width: 100%;
    height: 2.5rem;
    padding: 0 2rem;
    @include mobile-lable-button;
    text-align: center;
    position: relative;
    border: none;
    border-radius: 0.25rem;
    color: $primary-white;
    background-color: $primary-blue;
    font-weight: $text-regular;
    background-image: url("../../assets/images/icons/upload.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 1rem;

    &:hover {
      background-color: $secondary-darkblue;
    }

    @include tablet-and-desktop {
      width: 50%;
      min-width: 9.375rem;
      @include tabdesk-btn;
    }
  }

  &__btn-icon {
    position: absolute;
    top: 15%;
    left: 12%;
  }
}
